package components

templ logo() {
	<div>
		<div class="text-primary text-large text-logo">thomas newman</div>
		<div class="text-secondary text-medium sub-logo-text">
			> web developer
		</div>
	</div>
}

templ Header() {
	<header>
		<div class="header-container container">
			@logo()
		</div>
	</header>
}
