package components

import (
	"time"
	"fmt"
)

templ Footer(footerText string) {
	<footer className="footer">
		<div className="container">
			<p className="text-normal text-primary">{ footerText }</p>
			Copyright &copy; { fmt.Sprint(time.Time.Year(time.Now())) }
			<p className="text-small text-secondary"></p>
		</div>
	</footer>
}
