.main {
  margin-block: var(--spacing-300);
}

.picture-background {
  position: fixed;
  z-index: -1;
  inset: 0;
  mix-blend-mode: soft-light;
  overflow: hidden;
}

.image-background {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}
